<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Coding</title>
  <link rel="stylesheet" href="<%=elementUiCssUri%>">
</head>

<body style="background:#eaeaea;">
  <div id="app">
    <div style="width: 50%;margin: auto;margin-top: 20%;">
      <el-form ref="form" :rules="rules" :model="form" label-width="80px">
        <el-form-item label="设备IP" prop="devIp">
          <el-input :disabled="viewType=='update'" placeholder="请输入设备IP" v-model="form.devIp"></el-input>
        </el-form-item>
        <el-form-item label="设备名称" prop="devName">
          <el-input placeholder="请输入设备名称" v-model="form.devName"></el-input>
        </el-form-item>
        <el-form-item label="设备密码">
          <el-input placeholder="请输入密码" v-model="form.devPwd" show-password></el-input>
        </el-form-item>
      </el-form>
      <div style="text-align: center;">
        <el-button v-if="viewType=='add'" type="primary" style="margin: auto;" @click="onAddDevice">添加设备</el-button>
        <el-button v-if="viewType=='update'" type="primary" style="margin: auto;" @click="onUpdate">更新设备</el-button>
        <el-button v-if="viewType=='update'" type="danger" style="margin: auto;" @click="onDelete">删除设备</el-button>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="<%=vueJsUri%>"></script>
<script type="text/javascript" src="<%=elementUiJsUri%>"></script>
<script type="text/javascript" src="<%=indexJsUri%>"></script>

</html>