body.vscode-light {
  color: black;
}

body.vscode-dark {
  color: white;
}

body.vscode-high-contrast {
  color: red;
}

.el-form-item__label {
  color: var(--vscode-input-foreground);
}

.el-input__inner {
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground)
}

.el-input.is-disabled .el-input__inner {
  background-color: var(--vscode-input-placeholderForeground);
}