body.vscode-light {
  color: black;
}

body.vscode-dark {
  color: white;
}

body.vscode-high-contrast {
  color: red;
}

.el-form-item__label {
  color: var(--vscode-input-foreground);
}

.el-input__inner {
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground)
}

.el-input.is-disabled .el-input__inner {
  background-color: var(--vscode-input-placeholderForeground);
}

.tpl {
  color: #999;
  background-color: rgb(238, 241, 246)
}

.tpl .tplTitle {
  padding: 20px;
  font-weight: bolder;
}

.tpl .tplBackground {
  padding: 10px;
  border-top: 1px solid #eee;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.tpl .tplBackground:hover {
  background: #ecf5ff
}

.tpl .tplSelect {
  background: #ecf5ff
}

.img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}