<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat Coding</title>
  <link rel="stylesheet" href="<%=elementUiCssUri%>">
</head>

<body style="background:#eaeaea;">
  <div id="app">
    <div style="margin: auto;margin-top: 10%;padding:10px 20px">
      <el-form label-width="180px">
        <el-form-item label="build 文件类型" style="border:1px solid #999;text-align: center;">
          <el-radio-group v-model="buildSuffix" @change="selectChange">
            <el-radio label="zip">*.zip</el-radio>
            <el-radio label="eap">*.eap</el-radio>
          </el-radio-group>
        </el-form-item>

        <el-form-item label="版本自增" style="border:1px solid #999;text-align: center;">
          <el-radio-group v-model="increment" @change="selectChange">
            <el-radio label="yes">Yes</el-radio>
            <el-radio label="no">No</el-radio>
          </el-radio-group>
        </el-form-item>
      </el-form>
    </div>
  </div>
</body>
<script type="text/javascript" src="<%=vueJsUri%>"></script>
<script type="text/javascript" src="<%=elementUiJsUri%>"></script>
<script type="text/javascript" src="<%=indexJsUri%>"></script>

</html>